<body id="chk">
<script>
$(function(){
    $('#chk').load('https://github.com/peoplesoftblog/public/psemas/template/psemas_dynamic/header.html');
	$('#chk').load('https://github.com/peoplesoftblog/public/psemas/template/psemas_dynamic/template_header.html');
	$('#chk').load('https://github.com/peoplesoftblog/public/psemas/template/psemas_dynamic/table_header.html');
	$('#chk').load('table.html');
	$('#chk').load('https://github.com/peoplesoftblog/public/psemas/template/psemas_dynamic/table_footer.html');
	$('#chk').load('https://github.com/peoplesoftblog/public/psemas/template/psemas_dynamic/template_footer.html');
	$('#chk').load('https://github.com/peoplesoftblog/public/psemas/template/psemas_dynamic/footer.html');
});
</script>
</body>
