    <!-- footer.html start -->
		 <!-- Sticky Header Script Start -->
	<script>
			// When the user scrolls the page,
			// execute psemasSHFunction
		window.onscroll = function() {psemasSHFunction()};

		// Get the header
		// psemasheader - Peoplesoft EMAS Table Header sticky
		// psemasheader - Peoplesoft EMAS Table Header sticky
		var header = document.getElementById("psemasheader");

		// Get the offset position of the navbar
		var sticky = header.offsetTop;

		// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
		function psemasSHFunction() {
		  if (window.pageYOffset > sticky) {
			header.classList.add("sticky");
		  } else {
			header.classList.remove("sticky");
		  }
		}

	</script>
	<!-- Sticky Header Script End -->
	 <!-- Script : Search Data Table Start -->
	 <!--  Table ID :  PSEMASDataTable         -->
	 
		 <!--  Changed to New function below  
    <script>
      $(document).ready(function() {
        $("#PSEMASDataTableFilter").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#PSEMASDataTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
    </script>
	
	 Changed to New function below  
 
	-->
	<!-- Script : Search Data Table -->

	<!-- Script : Search Table: tbody only -->
<script type="text/javascript">
        $(document).ready(function(){
  $('#PSEMASDataTableFilter').on('keyup', function(){
    var input, filter, table, tr, td, i;
    input = $("#PSEMASDataTableFilter");
    filter = $("#PSEMASDataTableFilter").val().toUpperCase();
    table = $("#PSEMASDataTable");
    tr = $("tbody tr"); // CHANGED
    for (i = 0; i < tr.length; i++) {
      tds = tr[i].getElementsByTagName("td");
      var found = false;
      for (j = 0; j < tds.length; j++) {
        td = tds[j];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            found = true;
            break;
          }
        }
      }
      if (found) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  });
});
</script>
	
	<!-- Script : Collapse Environment Data Table -->
    <script>
      $('.environment').click(function() {
        $(this).nextUntil('tr.environment').slideToggle(10);
      });
    </script>
	<!-- Script : Collapse Environment Data Table -->
  </body>
</html>
    <!-- footer.html end -->