<!-- table_header.html start -->
        <input class="form-control" id="PSEMASDataTableFilter" type="text" placeholder="Filter..    Type any keyword here to filter the table below">
        <table class="table table-bordered table-striped">         
			<thead>
			 <tr class="psemasheader" id="psemasheader">
			  <th> Environment </th>
			  <th> DB Type </th>
			  <th> DB Server </th>
			  <th> DB Status </th>
			  <th> Web Server </th>
			  <th> App Server </th>
			  <th> Scheduler </th>
			  <th> Batch Server </th>
			  <th> Updated </th>
			  <th> Batch Status </th>
			</tr>  
			</thead>
			<tbody id="PSEMASDataTable" class="wrapper">
<!-- table_header.html start -->
		
		
		