<!-- template_header.html Start -->  
  <style>
      /* === BASE HEADING === */
      h1 {
        position: relative;
        padding: 0;
        margin: 0;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 40px;
        color: #080808;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
      }

      h1 span {
        display: block;
        font-size: 0.5em;
        line-height: 1.3;
      }

      h1 em {
        font-style: normal;
        font-weight: 600;
      }

      /*PSEMAS HEADING AND TAGLINE - PHTL STYLE PAGE 
         -------------------------------------- */
      .PHTL h1 {
        text-align: center;
        color: #222;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        word-spacing: 1px;
        letter-spacing: 2px;
        color: #c50000;
      }

      .PHTL h1 span {
        line-height: 2em;
        padding-bottom: 15px;
        text-transform: none;
        font-size: .7em;
        font-weight: normal;
        font-style: italic;
        font-family: "Playfair Display", "Bookman", serif;
        color: #25f;
        letter-spacing: -0.005em;
        word-spacing: 1px;
        letter-spacing: none;
      }

      .PHTL h1:after,
      .PHTL h1:before {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 45px;
        height: 4px;
        content: "";
        right: 45px;
        margin: auto;
        background-color: #ccc;
      }

      .PHTL h1:before {
        background-color: #d78b8b;
        left: 45px;
        width: 90px;
      }

      /* ------- Helper Styles -------------*/
      *,
      *:before,
      *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      body {
        background: #eee;
      }

      
      div {
        position: relative;
        background: #f8f8f8;
        width: 96%;
        /* max-width: 500px; */
        padding: 2em;
        margin: 1em auto;
        border: 5px solid rgba(0, 0, 0, 0.08);
      }

      h1:before,
      h1:after {
        background-color: #c50000;
      } 
      
      /*   Developer Footer -- PeopleSoft.Blog */
      .footer {
        position: relative;
        right: 0;
        left: 0;
        bottom: 0;
		height: 25px;
        text-align: center;
        line-height: 1em;
        text-transform: none;
        font-size: 1em;
        font-weight: normal;
        font-style: italic;
        font-family: "Playfair Display" , "Bookman", serif;
        color: #999;
        word-spacing: 1px;
        letter-spacing: none;
      }
  </style>
  
<!-- template base style end --> 






<!--- tooltip style start --> 
<!--- not coded any where currently --> 
<!--  simply use this below code in html to show tooltop
<div class="tooltip">Hover over me <span class="tooltiptext">My Tooltip Text </span></div> 
-->


<style>
		.tooltip {
		  position: relative;
		  display: inline-block;
		  border-bottom: 1px dotted black;
		}

		.tooltip .tooltiptext {
		  visibility: hidden;
		  width: 120px;
		  background-color: black;
		  color: #fff;
		  text-align: center;
		  border-radius: 6px;
		  padding: 5px 0;

		  /* Position the tooltip */
		  position: absolute;
		  z-index: 1;
		}

		.tooltip:hover .tooltiptext {
		  visibility: visible;
		}
</style>
<!--- tooltip style end -->
	
</head>

<!--- Head end -->

<!--- Body Start -->
  <body>
    <div class="PHTL">
      <h1>   PS EMAS   <span>PeopleSoft Environments Monitoring and Alert System</span> </h1> 
	</div>
	<!--<div class="wrap" id="header" > -->
	
	<!-- Commented above line (old code)
	<div  class="header" id="StickyHeaderID">  <h2>My Sticky Header</h2</div> 
		Look for the Template Footer for SickyHeadeer id
	     Retrofitted as below
	-->
    <div class="wrap" id="header" class="header" >
	
	
<!-- template_header.html Start -->  